<section class="bg-color-3 section-dark text-light pt-0 relative" style="background-size: cover; background-repeat: no-repeat;">
    <img src="{% static 'images/deco/s1.webp' %}" class="w-10 abs end-10 wow scaleOut animated" alt="" style="visibility: visible; animation-name: scaleOutFade;">
    <div class="container" style="background-size: cover; background-repeat: no-repeat;">
        <div class="row g-4" style="background-size: cover; background-repeat: no-repeat;">
            <div class="col-lg-6 offset-lg-3 text-center" style="background-size: cover; background-repeat: no-repeat;">
                <h2 class="wow fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Area of COverage</h2>
                <p class="lead wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Choose from flexible, affordable cleaning plans designed to fit your needs, from one-time deep cleans to regular maintenance services.</p>
                <div class="spacer-single" style="background-size: cover; background-repeat: no-repeat;"></div>
            </div>
        </div>
    </div>
</section>
<section class="pt-0" style="background-size: cover; background-repeat: no-repeat;">
    <div class="container mt-min-120" style="background-size: cover; background-repeat: no-repeat;">
        <div class="row g-4" style="background-size: cover; background-repeat: no-repeat;">
            
            <div id="map" style=" width: 100%;"></div>

        </div>
    </div>
</section>